<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YourBlog</title>
</head>
<body>
<div class="container">
  <%- include("partials/header.ejs") %>
  <% if (locals.posts && locals.posts.length != 0) { %>
    <% posts.forEach((posts) => { %> 

      <div class="post-location">
        <h3><%=posts.title %></h3>
        
        <p>
          <%= posts.content.length > 150 ? `${posts.content.slice(0, 100)}...` : posts.content %>
        </p>

        <div class="buttons">
          <form action="/post" method="GET">
            <input type="hidden" name="postTitle" value="<%= posts.title %>">
            <input type="hidden" name="postContent" value="<%= posts.content %>">
            <button type="submit" class="btn btn-default">Go-to-Post</button>
          </form>
        
          <form action="/delete" method="GET">
           <input type="hidden" name="postTitle" value="<%= posts.title %>">
            <button type="submit" class="btn btn-default">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  <% } else { %>

    <div class="introduction">
      <p>Welcome to Your Personal Blog Hub! Unleash Your Creativity, Share Your Thoughts, and Seamlessly Manage Your Posts with Ease 
        Create, Edit, and Delete at Your Fingertips.
      </p>
    </div>

  <% } %>

  <div class="post-submit">
    <form action="/submit" method="POST">
      <label for="postTile">Title</label>
      <input type="text" class="form-control" name="post-title" placeholder="Enter  Title" autofocus required>
      <label for="postContent">Post</label>
      <textarea class="form-control" name="post-content" rows="3" autofocus required></textarea>
      
      <input type="submit" value="Submit" class="btn btn-default">
    </form>
  </div>

  <%- include("partials/footer.ejs") %>
</div>
</body>
</html>